<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira" />
  <p>
    Hi, I'm <strong>Abdul Rafay</strong>. I'm a software engineer and Full Stack
    App Developer from PK. Hi You can follow me on <a
      href="https://www.linkedin.com/in/abdul-rafay1999/"
      target="_blank">Linkedin</a
    >, see some of my work on <a
      href="https://www.github.com/rafay99-epic"
      target="_blank">GitHub</a
    >, or read more about me on <a
      href="https://www.rafay99.com"
      target="_blank">my website</a
    >.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
